{% extends 'website/base.html' %}
{% load static %}
{% block content %}
  <!-- Data Visuals Section-->
  <section class="page-section mt-5" id="data-visuals">
    <div class="container">
      <!--  Heading-->
      <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Data visuals</h2>
      <!-- Icon Divider-->
      <div class="divider-custom">
        <div class="divider-custom-line"></div>
        <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
        <div class="divider-custom-line"></div>
      </div>
      <!-- Data visuals -->
      <div class="row">
        <div class="col-lg-8 mx-auto">

          {% for pollutant_name, data in visuals_data.items %}
            <canvas class="myChart mb-3" width="400" height="400" data-name="{{ pollutant_name }}"
                    data-labels="{{ data.labels }}" data-data="{{ data.data }}"
                    data-background="{{ data.background }}" data-border="{{ data.border }}"></canvas>
          {% endfor %}
        </div>
      </div>
    </div>
  </section>
{% endblock %}

{% block js %}
  <script>
    $(document).ready(function () {
      $('.myChart').each(function (i, ctx) {
        let name = $(ctx).attr('data-name');
        let labels = $(ctx).attr('data-labels');
        let data = $(ctx).attr('data-data');
        let background = $(ctx).attr('data-background');
        let border = $(ctx).attr('data-border');
        labels = JSON.parse(labels);
        data = JSON.parse(data);
        background = JSON.parse(background);
        border = JSON.parse(border);

        var myChart = new Chart(ctx, {
          type: 'bar',
          data: {
            labels: labels,
            datasets: [{
              label: name,
              data: data,
              backgroundColor: background,
              borderColor: border,
              borderWidth: 1
            }]
          },
          options: {
            scales: {
              yAxes: [{
                ticks: {
                  beginAtZero: true
                }
              }]
            }
          }
        });
      })
    })
  </script>

{% endblock %}
