{% extends 'website/base.html' %}
{% load static %}
{% block content %}
  <!-- Table Section-->
  <section class="page-section mt-5" id="data-table">
    <div class="container">
      <!--  Heading-->
      <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Pollutants table</h2>
      <!-- Icon Divider-->
      <div class="divider-custom">
        <div class="divider-custom-line"></div>
        <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
        <div class="divider-custom-line"></div>
      </div>
      <!-- Table -->
      <div class="row">
        <div class="col-lg-8 mx-auto">

          <table class="table table-striped" id="our-table">
            <thead>
            <tr>
              <th scope="col">Pollutant</th>
              <th scope="col">Country</th>
              <th scope="col">Avg</th>
              <th scope="col">Min</th>
              <th scope="col">Max</th>
              <th scope="col">Limit</th>
              <th scope="col">Units</th>
            </tr>
            </thead>
            <tbody>

            {% for pollutation_name, pollution_data in data.items %}
              {% for country_iso, data in pollution_data.items %}
                <tr>
                  <th scope="row">{{ pollution_name }}</th>
                  <td>{{ country_iso }}</td>
                  <td>{{ data.avg|floatformat }}</td>
                  <td>{{ data.min|floatformat }}</td>
                  <td>{{ data.max|floatformat }}</td>
                  <td>{{ data.limit }}</td>
                  <td>{{ data.units }}</td>
                </tr>
              {% endfor %}
            {% endfor %}

            </tbody>
          </table>

        </div>
      </div>
    </div>
  </section>
{% endblock %}

{% block js %}
  <script>
    $(document).ready(function () {
      $('#our-table').DataTable();
    })
  </script>
{% endblock %}
